armv7_perf

Session.vim
cmake_install.cmake
/CMakeFiles
*.out
*.o
*.DS_Store
*.so
*.so.6
*.so.2
*.so.2.4.3

*.zip
*.h264
*.h265

*.mp4
*.mov

*.png

*.pdf
*.doc
*.docx

*.xml

*.tty


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.toc

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


